layout {
    gaps 16
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 1.0
        proportion 0.5
        proportion 0.25
    }

    struts {}
    focus-ring {
        on
        width 0
    }
}
